/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Body Styling */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh; /* يضمن تغطية الشاشة بالكامل */
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('12.png') center/cover no-repeat;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(59, 59, 59, 0.9);
  z-index: -1;
}

/* Container */
 .container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: #030303;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(214, 213, 213, 0.1);
  text-align: center;
} 
/* .login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background:rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
} */

/* Form Styling */
.form-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Inputs */
input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 14px;
}

input:focus {
  border-color: #f00c0c46;
  outline: none;
}

/* Buttons */
button {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: none;
  background-color: #f00c0c46;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #cc801d;
}

#nfcLoginButton {
  margin-top: 10px;
}

#nfcMessage {
  color: #e74c3c;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }

  input, button {
    font-size: 14px;
  }
}
